.form-container {
    border: 1px solid #ddd;
    border-radius: 30px;
    padding: 20px;
    margin: 50px auto;
    height: 80vh;
    max-width: 500px;
}
.form-container h3 {
    font-weight: bold;
}
.form-container .btn {
    background-color: black;
    color: white;
}

.form-group {
    margin-top: 20px;
}

label {
    margin-bottom: 1%;
}

.buttont {
    display: flex;
    margin-top: 5%;
    justify-content: right;
}